/*--  Colours to be used -*/

:root {
    --darkpurple: #24053E;
    --mintgreen: #44FFA1;
    --mauve: #584D62;
    --ghostwhite: #FCF8FF;
    --white: #FFFFFF
}

/*--- Repeating styles ---*/
a {
    text-decoration: none;
}

h1, h2 {
    font-family: "Fraunces", serif;
}

/* --- Body onwards ---- */
body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--darkpurple);
    font-size: 18px;
}

/*--- NAV-BAR ---*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 57px 150px;
}
nav > img, footer > img {
 width: 96px;
 height: 25px;
}
.nav-a:hover{
    color: var(--mintgreen);
}
.green-underline {
    color: white;
    border-bottom: 2px solid #44FFA1;
}

nav, header {
    margin: 0;
    background-color: var(--darkpurple);
}

/* ---Header--- */
header {
    color: var(--white);
    border-radius: 0 0 500px 500px / 50px;
    height: 700px;
}
header h1 {
    font-size: 80px;
    width: 635px;
    text-align: center;}
.btn-green-background {
    margin: auto;
    background-color: var(--mintgreen);
    color: var(--darkpurple);
    padding: 15px 30px;
    display: inline-block;
    margin-top: 35px;
}
.btn-green-background:hover {
    color: var(--mintgreen);
    background-color: var(--darkpurple);
    border: var(--mintgreen) solid 2px;
}
.main-header-content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.float-left {
    position: absolute;
    top: 0;
    left: -100px;
    width: 230px;
}
.float-right {
    position: absolute;
    width: 134px;
    top: 35%;
    right: -40px;
}
.image-container {
    display: flex;
    justify-content: center;
}
.phone {
    padding-top: 50px;
    width: 702px;
    height: 405px;

}

/* --- Main --- */

.section-one {
    background-color: var(--ghostwhite);
    border-radius: 0 0 500px 500px / 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: auto auto 100px auto;
    padding: 50px;
    text-align: center;
}
.card {
    padding: 0 26px;
}

.number {
    border: solid var(--darkpurple) 1px;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    margin: auto;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section two */
.card-container > .content-card > h1 {
    font-size: 50px;
    margin: 0;
}
.section-two {
    display: flex;
    height: 600px;
    margin: auto;
}
.main-container2 {
    margin: 0 auto;
    height: inherit;
    width: 1100px;
    display: flex;
}
.co-founder-img {
    width: 450px;
    height: 453px;
}
section {
    overflow: hidden;
}
.card-container {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    width: auto;
    margin-left: -95px;
}
.content-card {
    background-color: var(--darkpurple);
    color: white;
    padding: 55px;
    margin: 0 auto;
}
.bottom-swirly {
    position: absolute;
    bottom: -40px;
    right: 50px;
    width: 173px;
    height: 157px;
}

/*--- Footer ---*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 120px auto;
}
.workit {
    padding-bottom: 15px;
}
.social-media > a >img {
    margin: 10px;
}


/* ---Tablet---*/
@media (min-width: 599px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }
/*-- nav --*/
    nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    }
/* -- Header -- */
    header h1 {
        font-size: 60px;
        width: 573px;
    }
    header {
        height: 450px;
    }
    .btn-green-background {
        margin: 0;
        padding: 10px 20px;
    }
    .phone {
        padding-top: 50px;
        width: 479px;
        height: 286px;
    }
    .float-left {
        top: 0;
        left: -155px;
        width: 230px;
    }
    .float-right {
        width: 134px;
        top: 35%;
        right: -65px;
    }
/* -- Main -- */ 
    
    .section-one {
        flex-direction: column;
        justify-content: end;
        height: 600px;
        text-align: left;
    }
    .card {
        display: flex;
    }
    .card > .right-column > h2 {
        font-size: 28px;
        margin: 0;
    }
    .right-column {
        padding: 20px 0 10px 50px;
    }
    .number {
        border-radius: 50%;
        width: 90px;
        height: 45px;
    }
/* --Section Two-- */ 
    .card-container > .content-card > h1 {
    font-size: 37px;
    }
    .section-two {
        height: auto;
    }
    .main-container2{
        padding: 0 25px;
        height: 430px;
        width: 550px;
    }
    .content-card {
        padding: 30px;
    }
    .co-founder-img {
        width: 265px;
        height: 267px;
    }
    .bottom-swirly {
        bottom: -75px;
        right: 5px;
    }
}


/* --- Mobile Version --- */
@media (min-width: 100px) and (max-width:599px) {
    body {
        font-size: 16px;
    }
  nav {
    padding: 50px 25px;
  }
  .nav-a{
    margin-left: 52px;
  }
  header {
    height: 350px;
  }
  header h1 {
    font-size: 40px;
    width: 80lvw;
}
.phone {
    padding-top: 50px;
    width: 292px;
    height: 168px;
}
.float-left, .float-right {
    display: none;
}

/*-- Main -- */
.section-one {
    height: 900px;
    text-align: center;
    flex-direction: column;
}
.card {
    width: 80vw;
    padding-top: 40px;
}
 .right-column  {
    padding-left: 0;
}
/* --- Section Two --- */
.card-container > .content-card > h1 {
    font-size: 30px;
    }
.img-div {
    display: flex;
    align-items: start;
    justify-content: center;
}
.section-two {
    height: auto;
}
.co-founder-img {
    width: 260px;
    height: 267px;
}
.main-container2{
    padding: 0 5px;
    width: 100vw;
    flex-direction: column;
    overflow: visible;
} 
.card-container {
    margin-left: 5px;
}
.content-card {
    text-align: center;
    padding: 30px;
    margin:-56px auto 0 auto;
}
.btn-green-background {
    margin-top: 8px;
   padding: 12px 24px; 
}
.bottom-swirly {
    display: none;
}
}